* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  /* color: white; */
 
}

body {

  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(180deg, #e4b0c2 0%, #a8003b 100%); */
  /* background: green; */
}